body{
    overflow-y:hidden;
}
.navbar-nav{
    align-items: center;
}
.amphi-table-container {
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100%;
}
.cross-fish .amphi-table-container{
    height: calc(100vh - 80px);
}
.amphi-table-header {
    display: flex;
    width: 100%;
}
.amphi-table-header .input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 75px;
}
.amphi-table-header .input-group-text{
    height: calc(2.25rem + 2px);
}
.amphi-table-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 45px 0 0 0;
    margin-bottom: 120px;
}
.table-row.tr-header {
    background-color: #2b3858!important;
}
.table-row.tr-header th:first-child{
    border-radius:.2143rem 0 0 0 ;
}
.table-row.tr-header th:last-child{
    border-radius: 0 .2143rem 0 0 ;
}
.table-row{
    background-color: rgba(0, 0, 0, 0) !important; /* Need important to override react-table css class on same element */
    text-align: start;
}
.table-row.expanded .td{
    border-bottom:none!important;
}
.expanded-row-contents {
    display: flex;
    grid-column: 1 / -1;
    border-bottom: 1px solid #dde2eb;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.expanded-row-contents td {
    border-top:none;
    flex: 1;
}
.expanded-row-contents .cross-btn {
    float:right;
}
td.table-bottom{
    background-color: transparent;
    padding-left:0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}
.table-bottom>div{
    border-radius: 0 0 .2143rem .2143rem;
    background-color: #2b3858;
}
.cross-fish .table > thead > tr > th {
    padding-bottom: 3px;
    padding-top: 5px;
}
th {
    background-color: inherit;
}
i.order-by{
    font-size:9px;
    padding-right: 5px;
}
ul.pagination {
    padding-top:20px;
    margin-bottom: 0;
    justify-content: right;
}
ul.pagination > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul.pagination .item-count{
    text-wrap: nowrap;
}

.alert div {
    margin-right:12px;
}

.disabled {
    opacity: 0.4;
}

.loadingSpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1001;
    padding-bottom: 300px;
}

.loadingSpinner.off {
    display: None;
}

.form-check.no-label {
    width:20px;
}

.form-check.disabled {
    cursor: not-allowed;
}
.disabled .form-check-label .form-check-sign {
    pointer-events: none;
}
.btn.setting{
    margin-left:10px;

    padding: 4px 7px;
    font-size: 0.75rem;
    line-height: 1.35;
    border-radius: 0.25rem;
}
.form-group.setting{
    padding: 0;
    margin-bottom: 0;
}
.setting .form-control{
    padding: 0 10px;
    height:24px;
}
.datepicker-container.setting{
    margin-left: 10px;
}
.setting .amphi-date {
    width: 82px;
}