body{
    overflow-y:hidden;
}
.navbar-nav{
    align-items: center;
}
.amphi-table-container {
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100%;
}
.cross-fish .amphi-table-container{
    height: calc(100vh - 80px);
}
.inner-amphi-table .amphi-table-container{
    height: 100%;
    display: block;
    position: relative;
}
.amphi-table-inner {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position:relative;
}
.inner-amphi-table .amphi-table-inner{
    display: block;
}
.amphi-table-header{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.inner-amphi-table .amphi-table-header{
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}
.amphi-table-search {
    display: flex;
    width: 100%;
}
.inner-amphi-table .amphi-table-search{
    display: none;
}
.amphi-table-search .input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 75px;
}
.amphi-table-search .input-group-text{
    height: calc(2.25rem + 2px);
}
.amphi-table-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 41px 0 0 0;
    margin-bottom: 120px;
}
.cross-fish .amphi-table-contents{
    inset: 34px 0 0 0 ;
}
.view-fish .amphi-table-contents{
    inset: 63px 0 0 0 ;
}
.inner-amphi-table .amphi-table-contents {
    display:block;
    position: relative;
    margin-bottom: 40px;
    padding-left:40px;
    padding-right:40px;
    inset: 22px 0 0 0;
}
.inner-amphi-table h6{
    padding-left: 40px;
    padding-right: 40px;
}
.inner-amphi-table  tbody > tr > td{
    padding-top:6px;
    padding-bottom: 6px;
    font-size: 14px;
}
.table-row.tr-header {
    background-color: #2b3858!important;
}
.table-row.tr-header th:first-child{
    border-radius:.2143rem 0 0 0 ;
}
.table-row.tr-header th:last-child{
    border-radius: 0 .2143rem 0 0 ;
}
.table-row{
    background-color: rgba(0, 0, 0, 0) !important; /* Need important to override react-table css class on same element */
    text-align: start;
}
.table-row.expanded .td{
    border-bottom:none!important;
}
.expanded-row-contents {
    display: flex;
    grid-column: 1 / -1;
    border-bottom: 1px solid #dde2eb;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.expanded-row-contents td {
    border-top:none;
    flex: 1;
}
.expanded-row-contents .cross-btn {
    float:right;
}
td.table-bottom{
    background-color: transparent;
    padding-left:0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}
.inner-amphi-table td.table-bottom{
    padding-top:0;
}
.table-bottom>div{
    border-radius: 0 0 .2143rem .2143rem;
    background-color: #2b3858;
}
.numberCell{
    text-align:right;
}
.cross-fish .table > thead > tr > th {
    padding-bottom: 3px;
    padding-top: 5px;
}
th {
    background-color: inherit;
}
i.order-by{
    font-size:9px;
    padding-right: 5px;
    padding-left: 5px;
}
ul.pagination {
    padding-top:20px;
    margin-bottom: 0;
    justify-content: right;
}
ul.pagination > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul.pagination .item-count{
    text-wrap: nowrap;
}

.alert div {
    margin-right:12px;
}

.disabled {
    opacity: 0.4;
}

.loadingSpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1001;
    padding-bottom: 300px;
}

.loadingSpinner.off {
    display: None;
}

.form-check.no-label {
    width:20px;
}

.form-check.disabled {
    cursor: not-allowed;
}
.disabled .form-check-label .form-check-sign {
    pointer-events: none;
}
.btn.setting{
    margin-left:10px;

    padding: 4px 7px;
    font-size: 0.75rem;
    line-height: 1.35;
    border-radius: 0.25rem;
}
.form-group.setting{
    padding: 0;
    margin-bottom: 0;
}
.setting .form-control{
    padding: 0 10px;
    height:24px;
}
.datepicker-container.setting{
    margin-left: 10px;
}
.setting .amphi-date {
    width: 82px;
}
.amphi-date .form-control[readonly] {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    cursor: inherit;
}

tr.row-line-through td {
    text-decoration: line-through;
}

.dropdown-menu{
    max-height:240px;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgb(43, 56,88);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(100, 100, 100, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    background-color:rgb(172,178,194)
}
/* Not using these but keeping around in case I decide to because took a while to figure out how to do this.
/* .form-check.tristate input:checked + .form-check-sign::after {*/
/*    content: "\ea47";*/
/*    padding-bottom: 2px;*/
/*}*/

/*.form-check.tristate input:checked + .form-check-sign::after {*/
/*    content: "\ea46";*/
/*    padding-bottom: 2px;*/
/*}*/